<!DOCTYPE html>
<html lang="ja">

<body>
<p>使い方</p>
<p>①以下に適当な数字4桁を入力してください。</p>
<input type="tel" id="pageId" name="pageId" required minlength="4" maxlength="4">
<p>②以下のURLを公開してください。</p>
<p id="visitorURL">（ID未入力）</p>
<p>③以下のURLを開き、OBS等で取り込んでください。</p>
<p id="streamerURL">（ID未入力）</p>
<p>取り込み方法はYoutubeのコメント欄等と同様です。同じく以下のCSSで透過処理を行えます。</p>
<p>body {
    overflow: hidden;
    background-color: transparent !important;
  }
</p>

<script>

    pageId.addEventListener('input', function(event){

        const pageId = document.getElementById("pageId");
        const visitorURL = document.getElementById("visitorURL");
        visitorURL.innerHTML = 'http://127.0.0.1:8080/visitor/' + pageId.value;
        const streamerURL = document.getElementById("streamerURL");
        streamerURL.innerHTML = 'http://127.0.0.1:8080/streamer/' + pageId.value;

    });

</script>

</body>
</html>

