<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>signChat</title>
</head>

<body>

<h1>エルデンリングのメッセージみたいなのを飛ばせるやつ</h1>
<p>配信とかでネタバレは禁止したい、でもアドバイスは貰いたい時などにご使用ください。</p>
<br>
<p>【使い方】</p>
<p>①以下に適当な数字4桁を入力してください。</p>
<input type="tel" id="pageId" name="pageId" required minlength="4" maxlength="4">
<br>
<p>②以下のURLを開き、OBS等で取り込んでください。</p>
<p id="streamerURL">（数字4桁を入力してください）</p>
<p>取り込み方法はYoutubeのコメント欄等と同様です。同じく以下のCSSで透過処理を行えます。<br>
    body {<br>
    overflow: hidden;<br>
    background-color: transparent !important;<br>
  }<br>
</p>
<p>③以下のURLを公開してください。</p>
<p id="visitorURL">（数字4桁を入力してください）</p>
<br>
<br>
<br>
<p>@henktrenkt</p>
<script>

    pageId.addEventListener('input', function(event){

        const pageId = document.getElementById("pageId");
        const visitorURL = document.getElementById("visitorURL");
        const streamerURL = document.getElementById("streamerURL");

        if(String(pageId.value).length == 4 && isFinite(pageId.value)){

            visitorURL.innerHTML = location.protocol + location.host + '/visitor/' +  pageId.value;
            streamerURL.innerHTML = location.protocol + location.host + '/streamer/' + pageId.value;

        } else {

            visitorURL.innerHTML = '（数字4桁を入力してください）';
            streamerURL.innerHTML = '（数字4桁を入力してください）';
            
        }

    });

</script>

</body>
</html>

